body {
  background-color: #E9EAED;
}

header {
	box-shadow: 0 2px 5px rgba(0,0,0,0.26);
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background-color: #3f51b5;
	color: #FFF;
	height: 135px;
  z-index: 9;
}

header div {
  color: #E0E0E0;
}

header div a {
  color: #FF9800;
}

header div a:hover {
  color: #FFC107;
  text-decoration: none;
}

.Rejections {
	margin: 175px 25px;
}

.Rejection {
	background: #FFF;
	border: 10px solid #FFF;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
	position: relative;
	padding: 10px 10px 75px;
	margin-bottom: 100px;
  text-align: center;
	width: 100%;
}

@media only screen and (min-width: 650px) {

  .Rejection {
    width: 30%;
  }
	
  .Rejection--width2 {
    width: 65%;
  }
}

a {
  color: #2196F3;
}

.Rejection-Profile {
	width: 150px;
	border-radius: 50%;
	border: 10px solid #FFF;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
	position: absolute;
	bottom: -75px;
	left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.Rejection-Bio {
  color: #9C27B0;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}

.Rejection-Title--Handle {
  font-size: 14px;
  margin: -10px 0 10px;
}

.Rejection.grid-sizer {
	border: 0;
	box-shadow: none;
	padding: 0;
	margin: 0;
}

.gutter-sizer {
  width: 5%;
}

/* Github Corners */
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }
    20%,
    60% {
        transform: rotate(-25deg)
    }
    40%,
    80% {
        transform: rotate(10deg)
    }
}
@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}
